$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "customVariables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootstrapCustom";

$color-pallete-one:       #5850C0;
$color-pallete-one-dark:  #4E4981;
$color-pallete-two:       #7D427D;
$color-pallete-two-dark:  #60425F;
$color-pallete-three:       #444242;
$color-pallete-three-dark:  darken(#444242, 6.5%);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
}

.columns {
  padding-top: $padding-base-vertical*10;
  height: 100vh;
  overflow: auto;
}

.column-primary {
  padding-bottom: $padding-base-vertical*10;
}

.column-secondary {
  padding-bottom: $padding-base-vertical*10;
}

.column-header {
  height: 100px;
  margin-bottom: $padding-base-vertical*10;
}

.main-pallete-one {
  background-color: $color-pallete-one;
}

.main-pallet-two {
  background-color: $color-pallete-two;
}

.main-pallet-three {
  background-color: $color-pallete-three;
}

.form-area {
  margin-bottom: $padding-base-vertical*10;
}

.text-area {
  border-radius: 4px;
}

.search-container {
  padding-bottom: $padding-base-vertical*5;
}

.row-element {
  width: 110%;
  margin-bottom: $padding-base-vertical;
  background-color: $color-pallete-one-dark;
  border-radius: $border-radius-base;
  padding: $padding-base-vertical $padding-base-horizontal+$padding-factor;
  color: #fff;
}

.logo {
  margin: $padding-base-vertical*10 $padding-base-horizontal;
}

.signin-btn {

  &:hover {
    cursor: pointer;
  }

}

.panel-theme {
  @include panel-variant($color-pallete-two-dark, $panel-primary-text, $color-pallete-two-dark, $color-pallete-two-dark);

  background-color: $color-pallete-two-dark;
}
