<div class="row">
  <div class="col-xs-10">
    <div class="row-element row-element-secondary">
      <span class="glyphicon glyphicon-star row-element-icon"></span> {{ citizen.nome }} ({{ citizen.ministerioDeAfiliacao }})
    </div>
  </div>
  <div class="col-xs-2 text-right">
    <button
      class="btn btn-sm btn-default"
      ng-click="deleteFunction(citizen)"
      confirm="Deseja realmente remover {{ citizen.nome }} da lista de funcionários?">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</div>
