<div class="container-fluid main-pallet-three columns text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <img src="images/logo.png" alt="As Diferentonas" width="300px" height="240px" class="logo" />
      <div ng-if="!auth.isAuthenticated()">
        <img src="images/btn_google+_signin_dark_normal_web.png" ng-click="auth.authenticate('google')" alt="Ent" width="193px" height="48px" class="signin-btn" />
      </div>
      <div ng-if="auth.isAuthenticated()">
        <button class="btn btn-block btn-primary" ui-sref="home">Entrar novamente</button>
        <br>
        <button class="btn btn-block btn-danger" ng-click="auth.logout()">Sair</button>
      </div>
    </div>
  </div>
</div>
