<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

        <form>
          <div class="form-group">
            <input type="email" id="titulo" name="title" class="form-control" placeholder="Título">
          </div>
            <div class="form-group">
              <textarea id="mensagem" name="message" rows="8" cols="40" class="form-control text-area" placeholder="Mensagem"></textarea>
            </div>
          <div class="text-right">
            <button type="submit" class="btn btn-success">Publicar</button>
          </div>
        </form>

    </div>
    <div class="col-md-6">

        <form>
          <div class="form-group">
            <input type="email" id="titulo" class="form-control" placeholder="Novo funcionário">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>

    </div>
  </div>
</div>
