<div class="container-fluid main-pallete-one">
  <div class="row">
    <div class="col-md-6 columns column-primary">

        <div class="column-header">
          <img src="images/logo-sm.png" alt="As Diferentonas" width="100px" height="100px" />
        </div>

        <form name="saveMessageForm" novalidate ng-submit="main.saveMessage();" class="form-area">
          <div class="form-group">
            <input type="text" id="titulo" name="title" placeholder="Título" class="form-control"
              ng-model="main.message.title"
              required>
          </div>
          <div class="form-group">
            <textarea id="mensagem" name="message" rows="8" cols="40" placeholder="Mensagem" class="form-control text-area"
              ng-model="main.message.message"
              required></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-lg btn-success">Publicar</button>
          </div>
        </form>

        <div class="input-group search-container">
          <input type="text" class="form-control" placeholder="Pesquisar mensagem..." ng-model="main.searchMessageTerm.titulo">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>

        <df-message-card
          ng-repeat="message in main.messages | filter:main.searchMessageTerm:strict"
          message="message"
          delete-function="main.deleteMessage(message)">
        </df-message-card>

    </div>
    <div class="col-md-6 columns column-secondary main-pallet-two">

      <div class="column-header"></div>

      <input type="text"
        ng-model="main.searchCitizenTerm"
        uib-typeahead="citizens for citizens in main.getCitizens($viewValue)"
        typeahead-min-length="4"
        typeahead-loading="loadingLocations"
        typeahead-no-results="noResults"
        class="form-control"
        placeholder="Pesquisar usuário">

      <div class="list-group">
        <button type="button" class="list-group-item"
          ng-repeat="citizen in main.citizens"
          ng-click="main.selectCitizen(citizen)">{{citizen.login}}</button>
      </div>

      <div class="panel panel-default panel-theme" ng-if="main.selectedCitizen.login">
        <div class="panel-body">
          <form name="saveStaffForm" novalidate ng-submit="main.saveStaff();">
            <div class="form-group">
              <input type="text" id="titulo" name="login" class="form-control"
                ng-model="main.selectedCitizen.login"
                readonly>
            </div>
            <div class="form-group">
              <input type="text" id="titulo" name="ministry" placeholder="Ministério de afiliação" class="form-control"
                ng-model="main.selectedCitizen.ministerioDeAfiliacao"
                required>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked required> Funcionário do Governo
              </label>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-lg btn-success">Atribuir como funcionário</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
