<div class="container-fluid main-pallete-one">
  <div class="row">
    <div class="col-md-6 columns column-primary">

        <form name="saveMessage" novalidate ng-submit="main.saveMessage();">
          <div class="form-group">
            <input type="text" id="titulo" name="title" placeholder="Título" class="form-control"
              ng-model="main.message.title"
              required>
          </div>
          <div class="form-group">
            <textarea id="mensagem" name="message" rows="8" cols="40" placeholder="Mensagem" class="form-control text-area"
              ng-model="main.message.message"
              required></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-lg btn-success">Publicar</button>
          </div>
        </form>

        <div class="input-group search-container">
          <input type="text" class="form-control" placeholder="Pesquisar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>

        <df-message-card ng-repeat="message in main.messages | filter:main.searchMessageTerm"></df-message-card>

    </div>
    <div class="col-md-6 columns column-secondary main-pallet-two">

        <form>
          <div class="form-group">
            <input type="email" id="titulo" class="form-control" placeholder="Novo funcionário">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-lg btn-success">Cadastrar</button>
          </div>
        </form>

    </div>
  </div>
</div>
